body
{
    background-color: #7086F6!important;
}
.main
{
    margin-left:10%;
    color: #46330C;
    font-size: 18px;
    font-family: Arial,Verdana,Courier, monospace;
    /*margin-top: 25px;*/
    width: 80%;
    background-color: #FFFFFF;
}
thead.thead-themed
{
    background-color: #FDC963;
    border-color: #FDC963!important;
}
.navbar-themed
{
    background-color: #7086F6;
    -webkit-box-shadow: 0px 11px 10px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 11px 10px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 11px 10px 0px rgba(0,0,0,0.36);
}
a.nav-link, a.navbar-brand
{
    font-size: 24px;
    color: #FDC963;
    text-shadow: -1px 0 6px #46330C, 0 1px 6px #46330C, 1px 0 6px #46330C, 0 -1px 6px #46330C;
}
button.navbar-toggler
{
    background-color: #46330C;
    border-radius: 50px;
    height: 30px;
}
.table_title
{
    margin-top: 25px;
}
.addproduct_form
{
    margin-top: 35px;
    margin-left: 30%;
}
.noSelect:checked {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
}
#color_box
{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 230px;
    top: 5;
    border-radius: 15px;
}
input
{
    max-width: 300px;
    text-align: center;
}
input[type="number"]
{
    max-width: 200px;
    
}
input[type="date"]
{
    max-width: 200px;
}
select
{
    max-width: 200px;
    text-align: center;
}
textarea
{
    width:100%;
}
#addproduct_btn
{
    position: absolute;
    right: 12%;
    display: inline-block;
}
table
{
    margin-top: 20px;
    border-radius: 30px;
    color: #46330C;
}
h3
{
    margin: 40px;
}

tr:nth-child(even)
{
    background-color: #FEF3DC;
}
td,th
{
    border-style:none;
}
.round-btn
{
    border-radius: 50%!important;
    margin-right: 15px;
}
#notifications
{
    position: absolute;
    min-width: 360px;
    z-index: 100000;
}