.main
{
    margin-left:20%;
    //margin-top: 25px;
    width: 60%;
}
.table_title
{
    margin-top: 25px;
}
.addproduct_form
{
    margin-top: 35px;
    margin-left: 30%;
}
.noSelect:checked {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
}
#color_box
{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 230px;
    top: 5;
    border-radius: 15px;
}
input
{
    max-width: 300px;
    text-align: center;
}
input[type="number"]
{
    max-width: 200px;
    
}
input[type="date"]
{
    max-width: 200px;
}
select
{
    max-width: 200px;
    text-align: center;
}
textarea
{
    width:100%;
}
#addproduct_btn
{
    position: absolute;
    right: 20%;
    display: inline-block;
}
table
{
    margin-top: 20px;
}